{% load otree %}
{% load i18n %}

    <table class="table table-sm table-bordered table-striped text-center" style="font-size: 9px">
    <thead>
    <tr>
      <th></th>
      <th colspan="21">{% trans "Investissement total des autres dans l'activité A" %}</th>
    </tr>
      <tr>
        <th>{% trans "Votre<br>investis-<br>sement<br>dans <br>l'activité A" %}</th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
        <td>150</td>
      </tr>
      <tr>
        <th>1</th>
        <td>201</td>
        <td>199</td>
        <td>197</td>
        <td>195</td>
        <td>192</td>
        <td>190</td>
        <td>188</td>
        <td>186</td>
        <td>183</td>
        <td>181</td>
        <td>179</td>
        <td>177</td>
        <td>174</td>
        <td>172</td>
        <td>170</td>
        <td>168</td>
        <td>165</td>
        <td>163</td>
        <td>161</td>
        <td>159</td>
        <td>156</td>
      </tr>
      <tr>
        <th>2</th>
        <td>249</td>
        <td>244</td>
        <td>240</td>
        <td>235</td>
        <td>231</td>
        <td>226</td>
        <td>222</td>
        <td>217</td>
        <td>213</td>
        <td>208</td>
        <td>204</td>
        <td>199</td>
        <td>195</td>
        <td>190</td>
        <td>186</td>
        <td>181</td>
        <td>177</td>
        <td>172</td>
        <td>168</td>
        <td>163</td>
        <td>159</td>
      </tr>
      <tr>
        <th>3</th>
        <td>291</td>
        <td>285</td>
        <td>278</td>
        <td>271</td>
        <td>264</td>
        <td>258</td>
        <td>251</td>
        <td>244</td>
        <td>237</td>
        <td>231</td>
        <td>224</td>
        <td>217</td>
        <td>210</td>
        <td>204</td>
        <td>197</td>
        <td>190</td>
        <td>183</td>
        <td>177</td>
        <td>170</td>
        <td>163</td>
        <td>156</td>
      </tr>
      <tr>
        <th>4</th>
        <td>330</td>
        <td>321</td>
        <td>312</td>
        <td>303</td>
        <td>294</td>
        <td>285</td>
        <td>276</td>
        <td>267</td>
        <td>258</td>
        <td>249</td>
        <td>240</td>
        <td>231</td>
        <td>222</td>
        <td>213</td>
        <td>204</td>
        <td>195</td>
        <td>186</td>
        <td>177</td>
        <td>168</td>
        <td>159</td>
        <td>150</td>
      </tr>
      <tr>
        <th>5</th>
        <td>363</td>
        <td>352</td>
        <td>341</td>
        <td>330</td>
        <td>318</td>
        <td>307</td>
        <td>296</td>
        <td>285</td>
        <td>273</td>
        <td>262</td>
        <td>251</td>
        <td>240</td>
        <td>228</td>
        <td>217</td>
        <td>206</td>
        <td>195</td>
        <td>183</td>
        <td>172</td>
        <td>161</td>
        <td>150</td>
        <td>138</td>
      </tr>
      <tr>
        <th>6</th>
        <td>393</td>
        <td>379</td>
        <td>366</td>
        <td>352</td>
        <td>339</td>
        <td>325</td>
        <td>312</td>
        <td>298</td>
        <td>285</td>
        <td>271</td>
        <td>258</td>
        <td>244</td>
        <td>231</td>
        <td>217</td>
        <td>204</td>
        <td>190</td>
        <td>177</td>
        <td>163</td>
        <td>150</td>
        <td>136</td>
        <td>123</td>
      </tr>
      <tr>
        <th>7</th>
        <td>417</td>
        <td>402</td>
        <td>386</td>
        <td>370</td>
        <td>354</td>
        <td>339</td>
        <td>323</td>
        <td>307</td>
        <td>291</td>
        <td>276</td>
        <td>260</td>
        <td>244</td>
        <td>228</td>
        <td>213</td>
        <td>197</td>
        <td>181</td>
        <td>165</td>
        <td>150</td>
        <td>134</td>
        <td>118</td>
        <td>102</td>
      </tr>
      <tr>
        <th>8</th>
        <td>438</td>
        <td>420</td>
        <td>402</td>
        <td>384</td>
        <td>366</td>
        <td>348</td>
        <td>330</td>
        <td>312</td>
        <td>294</td>
        <td>276</td>
        <td>258</td>
        <td>240</td>
        <td>222</td>
        <td>204</td>
        <td>186</td>
        <td>168</td>
        <td>150</td>
        <td>132</td>
        <td>114</td>
        <td>96</td>
        <td>78</td>
      </tr>
      <tr>
        <th>9</th>
        <td>453</td>
        <td>433</td>
        <td>413</td>
        <td>393</td>
        <td>372</td>
        <td>352</td>
        <td>332</td>
        <td>312</td>
        <td>291</td>
        <td>271</td>
        <td>251</td>
        <td>231</td>
        <td>210</td>
        <td>190</td>
        <td>170</td>
        <td>150</td>
        <td>129</td>
        <td>109</td>
        <td>89</td>
        <td>69</td>
        <td>48</td>
      </tr>
      <tr>
        <th>10</th>
        <td>465</td>
        <td>442</td>
        <td>420</td>
        <td>397</td>
        <td>375</td>
        <td>352</td>
        <td>330</td>
        <td>307</td>
        <td>285</td>
        <td>262</td>
        <td>240</td>
        <td>217</td>
        <td>195</td>
        <td>172</td>
        <td>150</td>
        <td>127</td>
        <td>105</td>
        <td>82</td>
        <td>60</td>
        <td>37</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
